@model IEnumerable<BookLibrary.Models.Category>

<div class="mega-menu">
    <ul class="tg-themetabnav" role="tablist">
        @{
            foreach (var listBook in Model)
            {
                <li role="presentation">
                    <a href="@Url.Action("ListProductFromCategory", "Product", new { id = listBook.id })" aria-controls="@listBook.Tag">@listBook.Name</a>
                </li>
            }
        }
    </ul>
    
        
            <div class="tab-content tg-themetabcontent">

                
                <div role="tabpanel" class="tab-pane active" id="">
                    <ul>
                        <li>
                            <div class="tg-linkstitle">
                                <h2>Architecture</h2>
                            </div>
                            <ul>
                                <li><a href="#">Tough As Nails</a></li>
                                <li><a href="#">Pro Grease Monkey</a></li>
                                <li><a href="#">Building Memories</a></li>
                                <li><a href="#">Bulldozer Boyz</a></li>
                                <li><a href="#">Build Or Leave On Us</a></li>
                            </ul>
                            @Html.ActionLink("View All", "Index", "Product", null, new { @class = "tg-btnviewall" })
                        </li>
                        <li>
                            <div class="tg-linkstitle">
                                <h2>Art Forms</h2>
                            </div>
                            <ul>
                                <li><a href="#">Consectetur adipisicing</a></li>
                                <li><a href="#">Aelit sed do eiusmod</a></li>
                                <li><a href="#">Tempor incididunt labore</a></li>
                                <li><a href="#">Dolore magna aliqua</a></li>
                                <li><a href="#">Ut enim ad minim</a></li>
                            </ul>
                            @Html.ActionLink("View All", "Index", "Product", null, new { @class = "tg-btnviewall" })
                        </li>
                        <li>
                            <div class="tg-linkstitle">
                                <h2>History</h2>
                            </div>
                            <ul>
                                <li><a href="#">Veniam quis nostrud</a></li>
                                <li><a href="#">Exercitation</a></li>
                                <li><a href="#">Laboris nisi ut aliuip</a></li>
                                <li><a href="#">Commodo conseat</a></li>
                                <li><a href="#">Duis aute irure</a></li>
                            </ul>
                            @Html.ActionLink("View All", "Index", "Product", null, new { @class = "tg-btnviewall" })
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <figure><img src="/Content/Images/img-01.png" alt="image description"></figure>
                            <div class="tg-textbox">
                                <h3>More Than<span>12,0657,53</span>Books Collection</h3>
                                <div class="tg-description">
                                    <p>Consectetur adipisicing elit sed doe eiusmod tempor incididunt laebore toloregna aliqua enim.</p>
                                </div>
                                @Html.ActionLink("View All", "Index", "Product", null, new { @class = "tg-btn" })
                            </div>
                        </li>
                    </ul>
                </div>
            

            </div>
        
    




</div>