@using BookLibrary.Models
@model List<Cart>
@{ 
    List<Cart> cart = Session["Cart"] as List<Cart>;
    if (cart == null)
    {
        cart = new List<Cart>();
    }
}

<div class="dropdown tg-themedropdown tg-minicartdropdown">
    <a href="javascript:void(0);" id="tg-minicart" class="tg-btnthemedropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="tg-themebadge">@ViewBag.TotalQuantity</span>
        <i class="icon-cart"></i>
        
            @if (Session["Cart"] == null)
            {
                <span style="padding-left:10px">$0 </span>
            }
            else
            {
                <span style="padding-left:10px">$@ViewBag.TotalPrice</span>
            }
           

    </a>
    <div class="dropdown-menu tg-themedropdownmenu" aria-labelledby="tg-minicart">
        @if (Session["Cart"] == null)
        {
            <h6>Your shopping cart is currently empty !</h6>
        }
        else
        {
            
            <div class="tg-minicartbody">

                @foreach (var item in cart)
                {
                    <div class="tg-minicarproduct">
                        <figure>
                            <img style="width: 70px; height: 90px " src="~/Content/Images/books/@item.bImage" alt="image description">

                        </figure>
                        <div class="tg-minicarproductdata">
                            <h5><a href="javascript:void(0);">@item.bName</a></h5>
                            <h6><a href="javascript:void(0);">$@item.bPrice</a></h6>
                            <p>Quantity : @item.bQuantity</p>
                        </div>
                    </div>
                }

            </div>
            <div class="tg-minicartfoot">
                <a class="tg-btnemptycart" href="@Url.Action("ClearCart","ShoppingCart")">
                    <i class="fa fa-trash-o"></i>
                    <span>Clear Your Cart</span>
                </a>
                <span class="tg-subtotal">Total: <strong>$@ViewBag.TotalPrice</strong></span>
                <div class="tg-btns">
                    <a class="tg-btn tg-active" href="~/ShoppingCart/Cart">View Cart</a>
                    <a class="tg-btn" href="@Url.Action("Order", "ShoppingCart")">Checkout</a>
                </div>
            </div>
        }

    </div>
</div>
