
@using BookLibrary.Models
@{
    List<BookLibrary.Models.Product> bestSelling = BookLibrary.Models.ProductsModel.list_BestSellingProducts(4);
    String tam = "";
    
}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="tg-bestsellingbooksslider" class="tg-bestsellingbooksslider tg-bestsellingbooks owl-carousel">
            @foreach (var itemBSL in bestSelling)
            {
                <div class="item">
                    <div class="tg-postbook">
                        <figure class="tg-featureimg">
                            <div class="tg-bookimg">
                                <div class="tg-frontcover"><img src="~/Content/Images/books/@itemBSL.Image" alt="image description"></div>
                                <div class="tg-backcover"><img src="~/Content/Images/books/@itemBSL.Image" alt="image description"></div>
                            </div>
                            <a class="tg-btnaddtowishlist" href="javascript:void(0)" bookid=@itemBSL.ID>
                                <i class="icon-heart"></i>
                                <span>add to wishlist</span>
                            </a>
                        </figure>
                        <div class="tg-postbookcontent">
                            <ul class="tg-bookscategories">
                                <li><a href="javascript:void(0);">@itemBSL.Description</a></li>

                            </ul>
                            <div class="tg-themetagbox"><span class="tg-themetag">Sale</span></div>
                            <div class="tg-booktitle">
                                <h3>
                                    <a href="@Url.Action("Index", "ProductDetail", new {@id = itemBSL.ID})">
                                        @if (@itemBSL.Name.Length > 25)
                                        { tam = @itemBSL.Name.Substring(0, 25) + "..."; }
                                        else
                                        { tam = @itemBSL.Name; }
                                        @tam
                                    </a>
                                </h3>
                            </div>
                            <span class="tg-bookwriter">By: <a href="@Url.Action("BooksAccordingAuthor","AuthorDetail", new {id = itemBSL.ID})">@AuthorModel.getAuthor(itemBSL.AuthorID).Name</a></span>
                            <span class="tg-stars"><span></span></span>
                            <span class="tg-bookprice">
                                <ins>$@itemBSL.Price</ins>
                                
                            </span>
                            <a class="tg-btn tg-btnstyletwo" href="@Url.Action("AddCart","ShoppingCart", new {@BookID = itemBSL.ID, @strURL = Request.Url.ToString()})">
                                <i class="fa fa-shopping-basket"></i>
                                <em>Add To Cart</em>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>














