@model IEnumerable<BookLibrary.Models.Product>
@{
    List<BookLibrary.Models.Product> productsPickByAuthours = BookLibrary.Models.ProductsModel.list_pickedByAuthor();
    string tam = "";
}

<!--************************************
            Picked By Author Start
    *************************************-->

<div id="tg-pickedbyauthorslider" class="tg-pickedbyauthor tg-pickedbyauthorslider owl-carousel">
    @foreach (var itemBSL in productsPickByAuthours)
    {
        <div class="item">
            <div class="tg-postbook">
                <figure class="tg-featureimg">
                    <div class="tg-bookimg">
                        <div class="tg-frontcover"><img src="~/Content/Images/books/@itemBSL.Image" alt="image description"></div>
                    </div>
                    <div class="tg-hovercontent">
                        <div class="tg-description">
                            <p>@itemBSL.Description</p>
                        </div>
                        <strong class="tg-bookpage">Book Pages: 206</strong>
                        <strong class="tg-bookcategory">Category: Adventure, Fun</strong>
                        <strong class="tg-bookprice">Price: $23.18</strong>
                        <div class="tg-ratingbox"><span class="tg-stars"><span></span></span></div>
                    </div>
                </figure>
                <div class="tg-postbookcontent">
                    <div class="tg-booktitle">
                        <h3>
                            <a href="@Url.Action("Index", "ProductDetail", new {@id = itemBSL.ID})">
                                @if (@itemBSL.Name.Length > 25)
                                { tam = @itemBSL.Name.Substring(0, 25) + "..."; }
                                else
                                { tam = @itemBSL.Name; }
                                @tam
                            </a>
                            </h3>
                    </div>
                    <span class="tg-bookwriter">By: <a href="javascript:void(0);">Sunshine Orlando</a></span>
                    <a class="tg-btn tg-btnstyletwo" href="@Url.Action("AddCart","ShoppingCart", new {@BookID = itemBSL.ID, @strURL = Request.Url.ToString()})">
                        <i class="fa fa-shopping-basket"></i>
                        <em>Add To Cart</em>
                    </a>
                </div>
            </div>
        </div>
    }
</div>
<!--************************************
        Picked By Author End
*************************************-->
