@using BookLibrary.Models
@model List<Cart>
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding: 50px">
    <h2 style="text-align:center">CART INFORMATION</h2>
    <table>
        <tr style="text-align:center;font-weight: bold">
            <td>ID Book</td>
            <td>Name</td>
            <td>Image</td>
            <td>Quantity</td>
            <td>Price</td>
            <td>Amount</td>
            <td></td>
            <td></td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BookID</td>
                <td>@item.bName</td>
                <td><img style="height:90px; width:70px;" src="~/Content/Images/books/@item.bImage" alt="image description"></td>
                @using (Html.BeginForm("UpdateCart", "ShoppingCart", new { @bIdPR = item.BookID }))
                {
                    <td><input type="number" min="1" name="txtQuantity" value="@item.bQuantity" /></td>
                    <td>$@item.bPrice</td>
                    <td>$@item.bTotal</td>
                    <td>@Html.ActionLink("Delete Product", "DeleteCart", new { @bIdPR = item.BookID })</td>
                    <td><input type="submit" value="UPDATE" /></td>
                }
            </tr>
        }
        <tr style="font-weight: bold; text-align: right; color: red">
            <td colspan="3">Total Quantity: @ViewBag.TotalQuantity</td>
            <td colspan="3">Total: $@ViewBag.TotalPrice </td>
        </tr>
        <tr style="font-weight: bold; color: blue; text-align: right">
            <td colspan="9">
                @Html.ActionLink("Delete Cart", "ClearCart")
            </td>
        </tr>
        <tr style="font-weight: bold; color: blue; text-align: right">
            <td colspan="9">
                @Html.ActionLink("SUBMIT YOUR ORDER", "Order", "ShoppingCart")
            </td>
        </tr>
    </table>

</div>
