
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <title>Log in And Sign up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Css/LoginAndRegister.css" rel="stylesheet" />
    <link href="~/Content/Css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h4 style="color: red; text-align: center"></h4>
        <div class="title-text">
            <div class="title signup" style=" width: 330px;">Sign up</div>
            <div class="title login">Log in</div>
        </div>
        <div class="form-container">
            <div class="slide-controls">
                <input type="radio" name="slide" id="login">
                <input type="radio" name="slide" id="signup" checked>
                <a href="@Url.Action("DangNhap")" for="login" class="slide login" style="text-decoration: none;">Log in</a>
                <a href="@Url.Action("DangKy")" for="signup" class="slide signup" style="text-decoration: none;">Sign up</a>
                <div class="slider-tab"></div>
            </div>
            
            <div class="form-inner">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)
                    <form action="#" class="signup">
                        <div class="field">
                            @Html.TextBox("fullname", null, new { placeholder = "Enter your name", required = true })
                        </div>

                        <div class="field">
                            @Html.TextBox("username", null, new { placeholder = "Enter your username", required = true })
                        </div>

                        <div class="field">
                            @Html.TextBox("email", null, new { placeholder = "Enter your email", required = true })
                        </div>

                        <div class="field">
                            @Html.TextBox("phonenumber", null, new { placeholder = "Enter your phone number", required = true })
                        </div>

                        <div class="field">
                            @Html.TextBox("address", null, new { placeholder = "Enter your address", required = true })
                        </div>

                        <div class="field">
                            @Html.Password("password", null, new { placeholder = "Create a password", required = true })
                        </div>

                        <div class="field">
                            @Html.Password("retypeMatKhau", null, new { placeholder = "Confirm a password", required = true })
                        </div>

                        <div class="field btn">
                            <div class="btn-layer"></div>
                            <input type="submit" value="Sign up">
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
    <script src="~/Content/js/LoginAndRegister.js"></script>
</body>
</html>