
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <title>Log in And Sign up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Css/LoginAndRegister.css" rel="stylesheet" />
    <link href="~/Content/Css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h4 style="color: red; text-align: center">@ViewBag.ThongBao</h4>
        <div class="title-text">
            <div class="title login">Log in</div>
            <div class="title signup">Sign up</div>
        </div>
        <div class="form-container">
            <div class="slide-controls">
                <input type="radio" name="slide" id="login" checked>
                <input type="radio" name="slide" id="signup">
    
                <a href="@Url.Action("DangNhap")" for="login" class="slide login" style="text-decoration: none;">Log in</a>
                <a href="@Url.Action("DangKy")" for="signup" class="slide signup" style="text-decoration: none;">Sign up</a>
                <div class="slider-tab"></div>
            </div>
            <div class="form-inner">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)
                    <form action="#" class="login">
                        <div class="field">
                            @Html.TextBox("Username_or_Email", null, new { placeholder = "Email", required = true })
                        </div>

                        <div class="field">
                            @Html.Password("Password", null, new { placeholder = "Password", required = true })
                        </div>

                        <div class="pass-link">
                            <a href="#">Forgot password?</a>
                        </div>

                        <div class="field btn">
                            <div class="btn-layer"></div>
                            <input type="submit" value="Log in">
                        </div>

                        <div class="signup-link">
                            Don't have an account? <a href="@Url.Action("DangKy")" for="signup" class="slide signup"> Sign up now</a>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
    <script src="~/Content/js/LoginAndRegister.js"></script>
</body>
</html>